@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
body {
  background-color: white;
}

h1 {
  font-family: Yellowtail;
  color: #092242;
}

hr {
  border-color: #092242;
}

#ingH1 {
  color: #d73434;
}

#logo {
  font-family: Playball;
  color: #092242;
  font-size: 80px;
}

span {
  color: #d73434;
}

.app-container {
  border-style: solid;
  border-color: #d73434;
  border-width: 10px;
  width: auto;
  height: auto;
  margin: 30px;
  min-width: 35em;

  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.61);
}

#main-row {
  /* border-style: solid;
  border-color: black; */
  width: auto;
  height: auto;
  margin: 50px;
  /* min-width: 65em; */
}

#header-div {
  /* border-style: solid;
  border-color: black; */
  width: auto;
  height: auto;
  margin: 25px;
  text-align: center;
}

/* .ing-border {
  border-style: solid;
  border-color: black;
  border-width: 2px;
} */

#recipes-div {
  text-align: center;
  /* border-width: 1.5px;
  border-style: solid;
  border-color: #092242; */

  width: auto;
  height: auto;
  overflow: hidden;
  max-height: 45em;
}

#middle-div {
  text-align: center;
  /* border-width: 1.5px;
  border-style: solid;
  border-color: #092242; */
  width: auto;
  height: auto;
  overflow: hidden;
  max-height: 45em;
}

#ingredients-div {
  text-align: center;
  /* border-width: 1.5px;
  border-style: solid;
  border-color: #092242; */
  width: auto;
  height: auto;
  overflow: hidden;
  max-height: 45em;
}

#footer-div {
  text-align: center;
  /* border-style: solid;
  border-color: black; */
  width: auto;
  height: auto;
  margin: 25px;
}
