@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

.head {
  text-align: center;
  font-family: Playball;
}
.head1 {
  color: #d73434;
}

#logo {
  margin-bottom: 30px;
}

#chef-red {
  color: #d73434;
}

.icons {
  padding-left: 6em;
  padding-right: 6em;
  color: #092242;
  padding-right: 5em;
  padding-left: 5em;
}

#hat:hover {
  color: #d73434;
}



.header {

  height: auto;
}

#favorites-div {
  margin-top: 10em;
}

#favorites-h1 {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 28px;
  color: #092242;
  text-decoration: underline;
}
