@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

#header-row {
  margin-top: -8em;
}

.head {
  text-align: center;
  font-family: Playball;
  margin-top: 10em;
}

.header {
  height: auto;
}

.head1 {
  color: #d73434;
}

#favorites-div {
  margin-top: 10em;
}

#favorites-h1 {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 28px;
  color: #092242;
  text-decoration: underline;
  text-align: center;
  margin-top: 5em;
}

#logo {
  margin-bottom: 30px;
}

#hat {
  margin-left: 200px;
  margin-right: 200px;
}

#hat:hover {
  color: #d73434;
}

#chef-red {
  color: #d73434;
}

.icons {
  padding-left: 6em;
  padding-right: 6em;
  color: #092242;
  padding-right: 5em;
  padding-left: 5em;
}

#hat:hover {
  color: #d73434;
}

.header {
  height: auto;
}

#favorites-div {
  margin-top: 10em;
}

#favorites-h1 {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 28px;
  color: #092242;
  text-decoration: underline;
}
