@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

#header-row {
  margin-top: -8em;
}

.head {
  text-align: center;
  font-family: Playball;
  margin-top: 10em;
}

.header {
  height: auto;
}

.head1 {
  color: #d73434;
}

#favorites-div {
  margin-top: 10em;
}

#favorites-h1 {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 28px;
  color: #092242;
  text-decoration: underline;
  text-align: center;
  margin-top: 5em;
}

#logo {
  margin-bottom: 30px;
}

#hat {
  margin-left: 200px;
  margin-right: 200px;
}

#hat:hover {
  color: #d73434;
}

#chef-red {
  color: #d73434;
}

.icons {
  padding-left: 6em;
  padding-right: 6em;
  color: #092242;
  padding-right: 5em;
  padding-left: 5em;
}

#input {
  border: 1px solid #092242;
  border-radius: 5px;
  height: 45px;
  width: 30em;
  padding: 2px 23px 2px 30px;
  outline: 1px;
  background-color: white;
}

#input-div {
  /* border-style: solid;
  border-color: black; */
}

#input:hover,
#input:focus {
  /* border: 1.5px solid #092242; */
  /* background-color: rgb(240, 240, 240); */
}

#input::placeholder {
  color: #d73434;
  font-family: Yellowtail;
  opacity: 3;
  text-align: center;
  font-size: 20px;
}
