.recipe__item {
  display: flex;
 
}
.recipe__ingredients{
  background-color:rgb(216,216,216);
  padding-top:1px;
  padding-bottom: 1px;
}

.recipe__icon {
  height: 1rem;
  width: 1rem;
  fill: #f59a83;
  border: 1px solid #f59a83;
  border-radius: 50%;
  padding: 2px;
  margin-right: 1rem;
  flex: 0 0 auto;
  margin-top: 0.1rem;
}
.recipe__count {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}
