.recipes {
    overflow: scroll;
}

.recipes-container {
    height:100px;
    width:110%;
    border: 2px solid grey;
    border-radius: 7px;
    position: relative;
    
}  

.recipes-image-container {
    display: flex;
}

.recipes-image {
    height: 80%;
    width: 30%;
    position: absolute;
    margin-left: 10px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 16px;
}

recipes-image:hover {
	background-color: blue;
	cursor: pointer;
}
.recipes-text-container {
    float: right;
}



.recipes-title {
    color:blueviolet;
    position: relative;
    font-size: 14px;
    text-align: justify;
    text-align-last: end;
    padding-right: 2em;
}

.recipes-publisher {
    color: black;
    font-size: 12px;
 padding-right: 3em;
    text-align: justify;
    text-align-last:end;
}

