.recipes {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .recipes:hover {
    background-color: lightgrey;
  }
  
  .recipes-container {
    display: flex;
  }
  
  
  .recipes-image {
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  .recipes-text-container {
    padding: 0.5em;
  }
  
  .recipes-title {
    color: red;
    font-size: 14px;
    text-align: left;
  }
  
  .recipes-publisher {
    color: black;
    font-size: 12px;
    text-align: left;
  }
  
